@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">);

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: red;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    margin-left: 8px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    width: 40px;
    background-color: rgba(225,255,255,0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
    color: #24262b;
    background-color: #ffffff;
}
/* responsive */
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.navbar{
	display: flex;
	list-style: none;
	width: 60vh;
	height: 10vh;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	padding-right: 1em;
	color: black;
	text-transform: none;
	letter-spacing: 0.1rem;
	font-weight: bold;
	
}

.header{
	display: flex;
	background-color: aqua;
	justify-content: space-between;
	align-items: center;
	padding-left: 1em;
	font-size: 30px;
	text-transform: uppercase;
	color: maroon;
	letter-spacing: 0.1rem;
}
#cards{
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden ;
}
.container{
    height: 100%;
    max-width: 1000px ;
    margin: 0 auto;
    padding: 20px;
    
}
.container h2{
    margin:  0 auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card{
    width: 30%;
    position: relative;
    margin-bottom: 50px;
    border-radius: 10px;
    overflow: hidden ;

}
.card img{
    position: relative;
    height: 100%;
    width: 100%;
    filter: grayscale(0%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}
* {
    margin: 0;
    padding: 0;
}

.carasoul {
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    height: 400px;
    width: 1200px;
    border: 2px black;
    box-shadow: 5px 6px 3px 3px black;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    animation: slider 15s ease-in-out infinite;
}

@keyframes slider {
    0% {
        background-image: url("https://source.unsplash.com/weekly?water/400x1200");
        background-size: cover;
    }

    25% {
        background-image: url("https://source.unsplash.com/weekly?laptop/400x1200");
        background-size: cover;
    }

    50% {
        background-image: url("https://source.unsplash.com/weekly?table/400x1200");
        background-size: cover;
    }

    75% {
        background-image: url("https://source.unsplash.com/weekly?mobile/400x1200");
        background-size: cover;
    }

    100%,
    0% {
        background-image: url("https://source.unsplash.com/weekly?bed/400x1200");
        background-size: cover;
    }

}

.title {
    text-align: center;
    margin-left: 50px;
    margin-top: 350px;
    color: rgb(39, 142, 245);
    background-color: black;
    

}
.leftdesc {
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
    box-shadow: 2px 2px 2px 2px rgb(39, 142, 245);
    text-align: center;
    border-radius: 5px;
    color: rgb(39, 142, 245);
    width: 100px;
}

.rightdesc {
    padding: 15px;
    color: rgb(39, 142, 245);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px rgb(39, 142, 245);
    text-align: center;
    border-radius: 5px;
    width: 100px;
}